/* General styles */
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sticky-header {
    position: sticky;
    top:0;
    border: 2px solid rgb(1, 22, 30);
    background-color: rgb(1, 22, 30);
    color: rgb(239, 246, 224);
    text-align: center;
    z-index: 9999;
}

.sidebar{
 position: absolute;
 border: 2px solid rgb(18, 69, 89);
 background-color: rgb(18, 69, 89);
 color: rgb(239, 246, 224);
 height:100vh;
 width: 20%;
}


.main {
    position:relative;
    text-align: center;
    
}
.main h2 {
padding-top: 1rem;
margin-top: 0;
    
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 2px solid rgb(1, 22, 30);
    background-color: rgb(1, 22, 30);
    color: rgb(239, 246, 224);
    text-align: center;
}

.floating-btn {
    position: fixed;
    cursor: pointer;
    right: 0;
    bottom:1rem ;
    margin-right: 2rem;
    
}