.customPokemonsContainer {
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.pokemonList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.header {
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.header h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
}

.types {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.type {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
    text-transform: capitalize;
    font-weight: bold;
}

.type.fire {
    background-color: #ff5733;
}

.type.water {
    background-color: #33b5ff;
}

.type.grass {
    background-color: #66bb6a;
}

.type.electric {
    background-color: #fdd835;
}

.type.normal {
    background-color: #d6d6d6;
}

.type.ghost {
    background-color: #9c27b0;
}

.type.bug {
    background-color: #4caf50;
}

.type.fighting {
    background-color: #d32f2f;
}

.type.psychic {
    background-color: #f50057;
}

.type.ice {
    background-color: #00bcd4;
}

.type.dragon {
    background-color: #ab47bc;
}

.type.rock {
    background-color: #8d6e63;
}

.type.dark {
    background-color: #455a64;
}

.type.steel {
    background-color: #607d8b;
}

.type.fairy {
    background-color: #f06292;
}

.type.ground {
    background-color: #8d6e63;
}

.type.poison {
    background-color: #8e24aa;
}

.image {
    text-align: center;
    margin-top: 10px;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.footer {
    padding: 10px;
    font-size: 1rem;
    color: #333;
    text-align: left;
}

.abilities {
    margin-top: 10px;
    font-size: 1rem;
    text-align: left;
}

.abilities h3 {
    font-weight: bold;
    color: #333;
}

.abilities ul {
    list-style-type: none;
    padding: 0;
}

.abilities li {
    font-size: 1rem;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .pokemonList {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .card {
        margin: 0 10px;
    }

    .header h1 {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .header h1 {
        font-size: 1rem;
    }

    .types {
        flex-direction: column;
    }

    .footer {
        font-size: 0.9rem;
    }
}
