body{
    background-color: rgb (118,137,149);
    padding: 3rem;
    font-family: sans-serif;
}

.flex-container{
    height: 60vh;
    background-color: rgb(211,211,171);
    border: black solid 2px;
    display: flex;



    /* gap: 0.5rem; */
    flex-wrap: wrap;

    /* flex-direction: */
     /* default:row  */
     
     flex-direction: row;
     /* flex-direction: row-reverse; */
     /* flex-direction: column; */
     /* flex-direction: column-reverse; */

     /* justify-content */
       /* main axis */
     /* default flex-start */
     justify-content: flex-start;
     /* justify-content: flex-end; */
     /* justify-content: center; */
     justify-content: space-between;
     /* justify-content: space-around; */
     /* justify-content: space-evenly; */

     /* align-items:  */
     /* Cross axis */
     /* default- strech */
     /* align-items: flex-start; */
     /* align-items: flex-end; */
     /* align-items: center; */

}

.flex-item{
    padding: 16px;
}
.flex-item1{
    background-color: red;
    flex-grow: 2;
}
.flex-item2{
    align-self: flex-end;
    background-color: orange;
}
.flex-item3{
    background-color: yellow;
}
.flex-item4{
    flex-grow: 1;
    background-color: green;
}
.flex-item5{
    background-color: blue;
}