body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    padding: 16px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-items: center;
    border-radius: 8px;
    transition: border 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card.fire {
    border: 4px solid #f08030;
}

.card.water {
    border: 4px solid #6890f0;
}

.card.grass {
    border: 4px solid #78c850;
}

.card.electric {
    border: 4px solid #f8d030;
}

.card.normal {
    border: 4px solid #a8a878;
}

.card.ghost {
    border: 4px solid #705898;
}

.card.bug {
    border: 4px solid #a8b820;
}

.card.fighting {
    border: 4px solid #c03028;
}

.card.psychic {
    border: 4px solid #f85888;
}

.card.ice {
    border: 4px solid #98d8d8;
}

.card.dragon {
    border: 4px solid #7038f8;
}

.card.rock {
    border: 4px solid #b8a038;
}

.card.dark {
    border: 4px solid #705848;
}

.card.steel {
    border: 4px solid #b8b8d0;
}

.card.fairy {
    border: 4px solid #ee99ac;
}

.card.ground {
    border: 4px solid #e0c068;
}

.card.poison {
    border: 4px solid #a040a0;
}

.header h1 {
    font-size: 24px;
    text-align: center;
}

.types {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
}

.type {
    background-color: #f0f0f0;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
}

.image img {
    width: 75px;
    height: 75px;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stats {
    width: 100%;
    margin-top: 8px;
}

.stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 0;
    font-size: 14px;
}

.statName {
    width: 120px;
    text-align: left;
}

.statBarContainer {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    height: 10px;
}

.statBar {
    height: 100%;
    border-radius: 8px;
}

.statValue {
    margin-left: 8px;
}

.footer p {
    font-size: 14px;
    margin: 4px 0;
}

.abilities ul {
    list-style-type: none;
    padding-left: 0;
}

.abilities li {
    font-size: 14px;
    margin: 4px 0;
}
